* {
  margin: 0;
  padding: 0;
}
:root {
  /* colors */
  --light-brown: hsl(22, 65%, 97%);
  --white: hsl(0, 0%, 100%);
  --rust: hsl(16, 70%, 44%);
  --brown: hsla(16, 70%, 44%, 0.2);
}

/*
font-family: 'Josefin Sans', sans-serif;
*/

/*FONTS*/
body h1 {
  font-family: 'Josefin Sans', sans-serif;
  color: var(--rust); 
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 5px;
}
body h3 {
  font-family: 'Josefin Sans', sans-serif;
  color: var(--rust); 
  font-size: 18px;
  font-weight: 700;
  margin: 10px;
}

body p {
  font-family: 'Josefin Sans', sans-serif;
  color: var(--rust); 
  font-weight: 400;

}

/*BODY*/
body {
  background-color: var(--white);
}

div#cardapio {
  padding: 5% 15%;
  background-color: var(--light-brown);

  display: flex;
  flex-direction: column;
  align-items: center;
}

section#sanduiches, section#bebidas {
  width: 35%;
  padding: 10% 6%;

  border: 1px solid var(--brown);
  border-radius: 20%;

  margin-bottom: 20px;

  background-color: var(--white);
}

/*CARDS*/
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.wrapper div {
  display: flex;
  justify-content: space-between;
}

div#carrinho {

  padding: 10% 6%;

  margin: auto;
  border-top: 1px solid var(--brown);
  display: flex;
  justify-content: center;

}

#carrinho section {

  flex-direction: column;
  width: 35%;
}
.wrapper .total {
  display: flex;
  justify-content: end;
}